/* Estilo base */
body {
    margin: 0;
    font-family: 'VT323', monospace;
    background: linear-gradient(270deg, #241b35, #6c35de);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: #FFFFFF;
    overflow: auto;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Logo */
.logo-section {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.logo {
    font-size: 35px;
    color: #FFFFFF;
}

/* Menu Principal */
.menu-principal {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 15px;
    padding: 10px;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.menu nav {
    display: flex;
    align-items: center;
}

.menu nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 24px;
}

/* Espaçamento entre os botões */
.menu nav a + a {
    margin-left: 30px;
}


/* Página Inicial */
main {
    padding-top: 50px; /* Adiciona um espaçamento superior de 50px */
    text-align: center;
    padding: 100px 20px;
}

.highlight {
    color: #18A101;
}

/* Página Inicial */
.pagina-inicial {
    text-align: center;
    padding: 50px 20px;
}

.texto-apresentacao {
    margin-bottom: 50px;
    text-align: center;
}

.console-text, .apresentacao-text, .dev-text {
    font-size: 45px;
    margin: 10px 0;
}

.dev-text {
    font-size: 27px;
}

/* Sobre Mim */
.sobre-mim {
    padding: 50px 20px;
    text-align: center;
    margin-top: -100px; /* Adiciona margem negativa para mover a seção para cima */
}

.sobre-mim .conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse; /* Inverte a ordem do flex-direction para colocar a imagem à esquerda */
}

.texto-imagem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}

/* Imagem de Apresentação */
.SobreMim img {
    width: 300px; /* Ajuste a largura conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    position: relative; 
    top: 110px; /* Move a imagem para cima */
    margin-left: 20px; /* Espaço entre a imagem e o conteúdo ao lado */
    opacity: 100;

    /* Animação de movimento flutuante */
    animation: floatAnimation 3s ease-in-out infinite alternate;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px); /* Ajuste a altura da flutuação conforme necessário */
    }
}


/* Ferramentas */
.ferramentas {
    margin-top: -180px; /* Ajuste para mover a seção para cima */
}

.ferramentas h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.linguagens {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.linguagem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linguagem img {
    width: 80px; /* Ajuste conforme necessário */
    height: auto;
}

/*Projetos*/
.texto {
    flex: 1;
    text-align: left; /* Ajusta o texto para ficar à esquerda */
}

.imagem {
    flex: 1;
    text-align: center;
}

.imagem img {
    max-width: 100%;
    height: auto;
}


.projeto {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}

.projeto .descricao-projeto {
    flex: 1;
    min-width: 300px;
}

.projeto .imagem-projeto {
    flex: 1;
    min-width: 300px;
}



/* Imagem de Apresentação */
.SobreMim {
    height: 500px; /* Ajuste a altura conforme necessário */
    width: auto; /* Mantém a proporção da imagem */
    position: relative; /* Define a posição relativa para facilitar o posicionamento */
    top: -20px; /* Move a imagem para cima por 100 pixels */
    float: right;
    margin-left: 20px; /* Opcional: para dar espaço entre a imagem e o conteúdo ao lado */
    opacity: 0.44;

    /* Animação de movimento flutuante */
    animation: floatAnimation 3s ease-in-out infinite alternate;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px); /* Ajuste a altura da flutuação conforme necessário */
    }
}


.imagem-placeholder {
    background: rgba(217, 217, 217, 0.04);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}
